{% extends 'myapp/base.html' %}
{% load static %}
{% load youtube_extras %}
{% block title %}Ver {{ episodio.titulo }} | {{ contenido.titulo }}{% endblock %}
{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'index' %}"><i class="fa fa-home"></i> Inicio</a>
                    <a href="{% url 'categories' %}">Categorías</a>
                    <a href="{% url 'anime_details' contenido.id %}">{{ contenido.titulo }}</a>
                    <span>{{ episodio.titulo }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="anime__video__player">
                    {% if 'youtube.com' in episodio.video_url or 'youtu.be' in episodio.video_url %}
                        <div class="ratio ratio-16x9">
                            <iframe width="100%" height="500" src="https://www.youtube.com/embed/{{ episodio.video_url|youtube_id }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    {% else %}
                        <video id="player" playsinline controls poster="{% if contenido.imagen_portada %}{{ contenido.imagen_portada.url }}{% else %}{% static 'myapp/img/default-cover.jpg' %}{% endif %}">
                            <source src="{{ episodio.video_url }}" type="video/mp4" />
                            Tu navegador no soporta la reproducción de video.
                        </video>
                    {% endif %}
                </div>
                <div class="anime__details__episodes">
                    <div class="section-title">
                        <h5>{{ contenido.titulo }} - Episodios</h5>
                    </div>
                    {% for ep in contenido.episodio_set.all %}
                        <a href="{% url 'anime_watching' ep.id %}" {% if ep.id == episodio.id %}class="current-page"{% endif %}>Ep {{ ep.numero_episodio }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Anime Section End -->
{% endblock %}