{% autoescape off %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contraseña cambiada | SugoiAnime</title>
    <link rel="stylesheet" href="{% static 'myapp/css/forms.css' %}">
</head>
<body class="mail-body">
    <div class="mail-container">
        <div class="mail-logo">
            <img src="https://i.ibb.co/6bQw1kF/3.png" alt="SugoiAnime Logo">
        </div>
        <div class="mail-title">Contraseña cambiada</div>
        <p>Hola {{ user.username }},<br><br>
        Tu contraseña ha sido cambiada correctamente.<br>
        Si no realizaste este cambio, por favor contacta con soporte inmediatamente.</p>
        <div class="mail-footer">
            ¡Gracias por usar SugoiAnime!
        </div>
    </div>
</body>
</html>
{% endautoescape %}
