{% autoescape off %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recupera tu contraseña | SugoiAnime</title>
    <link rel="stylesheet" href="{% static 'myapp/css/forms.css' %}">
</head>
<body class="mail-body">
    <div class="mail-container">
        <div class="mail-logo">
            <img src="https://i.ibb.co/6bQw1kF/3.png" alt="SugoiAnime Logo">
        </div>
        <div class="mail-title">Recupera tu contraseña</div>
        <p>Hola {{ user.username }},<br><br>
        Hemos recibido una solicitud para restablecer tu contraseña.<br>
        Haz clic en el siguiente botón para crear una nueva contraseña:</p>
        <a href="{{ reset_link }}" class="mail-btn">Restablecer contraseña</a>
        <div class="mail-footer">
            Si no solicitaste este cambio, ignora este correo.<br>
            ¡Gracias!
        </div>
    </div>
</body>
</html>
{% endautoescape %}
